@model EWareShop.Models.DuLieuDonHangIndex

@{
    ViewData["Title"] = "Danh sách đơn hàng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Danh sách đơn hàng</h2>
<hr />
<!--Bộ lọc-->
<form asp-controller="DonHang" asp-action="Index" method="get">
    <div class="row">
        <div class="col-md-3">
            Đã duyệt
            <select class="form-control" name="daduyet" id="daduyet">
                <option value="tatca">Tất cả</option>
                @if (Model.DaDuyet.Equals("true"))
                {
                    <option value="true" selected="selected">Đã duyệt</option>
                }
                else
                {
                    <option value="true">Đã duyệt</option>
                }
                @if (Model.DaDuyet.Equals("false"))
                {
                    <option value="false" selected="selected">Chưa duyệt</option>
                }
                else
                {
                    <option value="false">Chưa duyệt</option>
                }
                @*<option value="tatca">Tất cả</option>
                <option value="true">Đã duyệt</option>
                <option value="false">Chưa duyệt</option>*@
            </select>
        </div>
        <div class="col-md-3">
            Đã giao
            <select class="form-control" name="dagiao" id="dagiao">
                <option value="tatca">Tất cả</option>
                @{
                    if (Model.DaGiao.Equals("true"))
                    {
                    <option value="true" selected="selected">Đã giao</option>
                    }
                    else
                    {
                    <option value="true">Đã giao</option>
                    }
                }
                @{
                    if (Model.DaGiao.Equals("false"))
                    {
                        <option value="false" selected="selected">Chưa giao</option>
                    }
                    else
                    {
                        <option value="false">Chưa giao</option>
                    }
                }
                @*<option value="tatca">Tất cả</option>
                <option value="true">Đã giao</option>
                <option value="false">Chưa chưa giao</option>*@
            </select>
        </div>
        <div class="col-md-2">
            <br />
            <input type="submit" class="btn btn-default" value="Tìm" />
        </div>
    </div>
</form>
<!--end Bộ lọc-->
<hr />
<!--Trang sản phẩm-->
<div class="row">
    <div class="btn-group pull-right">
        @{
            if (Model.SoTrangSanPham != 1)
            {
                if (Model.TrangHienTai != 1)
                {
                    <button class="btn btn-default" onclick="trang(@(Model.TrangHienTai-1))" type="button">Trước</button>
                }
                for (int i = 1; i <= Model.SoTrangSanPham; i++)
                {
                    if (Model.TrangHienTai == i)
                    {
                        <button class="btn btn-danger" disabled type="button">@i</button>
                    }
                    else
                    {
                        <button class="btn btn-default" onclick="trang(@i)" type="button">@i</button>
                    }
                }
                if (Model.TrangHienTai != Model.SoTrangSanPham && Model.SoTrangSanPham != 0)
                {
                    <button class="btn btn-default" onclick="trang(@(Model.TrangHienTai+1))" type="button">Sau</button>
                }
            }
        }

    </div>
</div>
<!-- end Trang sản phẩm-->
<br />
<!--Danh sách đơn hàng-->
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped jambo_table bulk_action">
            <thead>
                <tr class="headings">
                    <th width="5%">ID</th>
                    <th width="15%">Họ tên khách hàng </th>
                    <th width="10%">Số điện thoại </th>
                    <th width="10%">Email</th>
                    <th width="20%">Địa chỉ</th>
                    <th width="10%">Tổng tiền</th>
                    <th width="10%">Ngày đặt</th>
                    <th width="5%">Đã duyệt</th>
                    <th width="5%">Đã giao</th>
                    <th width="5%">Xem</th>
                    <th width="5%"> Xóa</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dh in Model.DSDonHang)
                {
                    var url = "/DonHang/ChiTietDonHang/" + dh.DonHangID;
                <tr style="cursor:pointer;">
                    <td class="">@dh.DonHangID</td>
                    <td class="">@dh.TenKhachHang</td>
                    <td class="">@dh.SoDienThoai</td>
                    <td class="">@dh.Email</td>
                    <td class="">@dh.DiaChi</td>
                    <td class="">@Html.DisplayFor(modelItem => dh.TongTien)</td>
                    <td class="">@dh.NgayDat</td>
                    <td class=""><input type="checkbox" @(dh.DaDuyet? "checked=checked" : "") style="width:20px;height:20px;" class="daduyet" data-iddh="@dh.DonHangID" /></td>
                    <td class=""><input type="checkbox" @(dh.DaGiao ? "checked=checked" : "") style="width:20px;height:20px;" class="dagiao" data-iddh="@dh.DonHangID" /></td>
                    <td class=""><a class="btn btn-info btn-xs" asp-action="ChiTietDonHang" asp-route-id="@dh.DonHangID"><i class="fa fa-eye"></i> Xem</a></td>
                    <td class=""><a class="btn btn-danger btn-xs" asp-action="Delete" onclick="return confirm('Bạn có chắc chắn xóa');" asp-route-id="@dh.DonHangID"><i class="fa fa-trash-o"></i> Xóa</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!--end Danh sách đơn hàng-->
<!--Form Bộ lọc có theo trang-->
<form id="boloc" asp-controller="DonHang" asp-action="Index" method="get">
    <input type="hidden" id="duyet" name="daduyet" />
    <input type="hidden" id="giao" name="dagiao" />
    <input type="hidden" id="trangsp" name="trang" />
</form>
<!--Form end Bộ lọc có theo trang-->
<!--Trang sản phẩm-->
<div class="row">
    <div class="btn-group pull-right">
        @{
            if (Model.SoTrangSanPham != 1)
            {
                if (Model.TrangHienTai != 1)
                {
                    <button class="btn btn-default" onclick="trang(@(Model.TrangHienTai-1))" type="button">Trước</button>
                }
                for (int i = 1; i <= Model.SoTrangSanPham; i++)
                {
                    if (Model.TrangHienTai == i)
                    {
                        <button class="btn btn-danger" disabled type="button">@i</button>
                    }
                    else
                    {
                        <button class="btn btn-default" onclick="trang(@i)" type="button">@i</button>
                    }
                }
                if (Model.TrangHienTai != Model.SoTrangSanPham && Model.SoTrangSanPham != 0)
                {
                    <button class="btn btn-default" onclick="trang(@(Model.TrangHienTai+1))" type="button">Sau</button>
                }
            }
        }

    </div>
</div>
<!-- end Trang sản phẩm-->


@section DonHang_Scripts{
    <script src="~/frontend_admin/js/donhang.js"></script>
    <script>
        function trang(trang) {
            $('#duyet').val($('#daduyet').val());
            $('#giao').val($('#dagiao').val());
            $('#trangsp').val(trang);
            $('#boloc').submit();

        }
    </script>
}

