@model EWareShop.Models.PhiGiaoHang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ClientLayout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhiGiaoHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiaDiem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaDiem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TienPhi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TienPhi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PhiGiaoHangID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
