@model EWareShop.Models.TaiKhoan

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TaiKhoan</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="TaiKhoanID" />
        <dt>
            @Html.DisplayNameFor(model => model.TenDangNhap)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenDangNhap)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MatKhauCap1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MatKhauCap1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MatKhauCap2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MatKhauCap2)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
